@import '../utils/_variables.scss';
@import '../utils/_mixins.scss';
@import '../utils/_extends.scss';

// styles pour le conteneur principal
.container {
    @include flex-column;
    align-items: center;
}

// styles pour le compte
.account {
    @include flex-column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $color-black;
    background-color: $color-white;
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem;
    box-sizing: border-box;
    @include text-left;
    margin-bottom: 2rem;
}

// styles pour le montant du compte
.account-amount {
    margin: 0;
    font-size: 2.5rem;
    @include bold-text;
}

// styles pour la description du montant du compte
.account-amount-description {
    margin: 0;
    @include text-left;
}

// alignement du texte pour le montant du compte, la description et le titre
.account-amount,
.account-amount-description,
.account-title {
    @include text-left;
}

// styles pour le titre du compte
.account-title {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
}

// styles pour le wrapper du contenu du compte
.account-content-wrapper {
    width: 100%;
    flex: 1;
}

// styles pour le bouton de transaction
.transaction-button {
    @extend %button-styles;
    width: 100%;
    margin-top: 1rem;
}

// styles pour les écrans plus larges
@media (min-width: 720px) {
    .account {
        display: flex;
        flex-direction: row;
    }

    .account-content-wrapper.cta {
        flex: 0;
    }

    .transaction-button {
        width: 200px;
    }
}