@import '../utils/_variables.scss';
@import '../utils/_mixins.scss';
@import '../utils/_extends.scss';

// Styles pour les fonctionnalités
.features {
    @include flex-column;
}

// Styles pour les fonctionnalités sur les écrans plus larges
@media (min-width: 920px) {
    .features {
        @include flex-row;
    }
}

// Styles pour l'icône de fonctionnalité
.feature-icon {
    width: 100px;
    border: 10px solid $color-green;
    border-radius: 50%;
    padding: 1rem;
}

// Styles pour l'élément de fonctionnalité
.feature-item {
    flex: 1;
    padding: 2.5rem;
}

// Styles pour le titre de l'élément de fonctionnalité
.feature-item-title {
    color: $color-darkgrey;
    font-size: 1.25rem;
    @include bold-text;
    margin-bottom: 0.5rem;
}