@import '../utils/_variables.scss';
@import '../utils/_mixins.scss';
@import '../utils/_extends.scss';

// Styles pour le formulaire
form {
    display: block;
    margin-top: 0em;
}

// Styles pour le bouton de connexion
.sign-in-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    @include bold-text;
    text-decoration: underline;
    margin-top: 1rem;
    border-color: $color-green;
    background-color: $color-green;
    color: $color-white;
}

// Styles pour l'option "Se souvenir de moi"
.input-remember {
    @include flex-row;

    // Styles pour le label de l'option "Se souvenir de moi"
    .label {
        margin-left: 0.25rem;
    }
}

// Styles pour le wrapper d'input
.input-wrapper {
    @include flex-column;
    margin-bottom: 1rem;

    // Styles pour le label du wrapper d'input
    &-label {
        @include bold-text;
        @include text-left;
    }

    // Styles pour l'input lui-même
    .input {
        padding: 5px;
        font-size: 1.2rem;
    }
}