@import '../utils/_variables.scss';
@import '../utils/_mixins.scss';
@import '../utils/_extends.scss';

// styles généraux pour le profil
.profileWelcome {
    font-size: 2em;
    @include bold-text;
    color: $color-white;
    margin-top: 1em;
    margin-bottom: 2rem;
}

// styles pour le bouton d'édition
.edit-button {
    border-color: $color-green;
    background-color: $color-green;
    color: $color-white;
    @include bold-text;
    padding: 10px;
    margin: 0px 0 35px 0;
    width: 7em;
    cursor: pointer;
}

// styles pour le modal
.modal {
    width: 100%;
    height: auto;
    background-color: $color-white;
    padding: 10px;
    margin-bottom: 50px;
}

// styles pour les champs de saisie
input#username{
    @include text-left;
}

// styles pour le formulaire d'édition du nom d'utilisateur
.edit_form {
    @include flex-column;
    align-items: center;
    margin-top: 2rem;
}

// styles pour les boutons du formulaire
.buttons{
    @include flex-row;
    gap: 20px;
    margin-top: 30px;
}

// styles pour le bouton d'annulation
.cancel-button{
    border-color: red;
    background-color: red;
    color: $color-white;
    @include bold-text;
    padding: 10px;
    margin: 0px 0 35px 0;
    width: 7em;
    cursor: pointer;
}

// styles pour les champs de saisie
input#firstName,
input#lastName{
    @include text-left;
    cursor: none;
    background-color: #8080806b;
}