@import '../utils/_variables.scss';
@import '../utils/_mixins.scss';
@import '../utils/_extends.scss';

.error {
    padding: 50px;

    &_title{
        color : $color-green;
        font-size: 70px;
        font-style: italic;
        @include bold-text;

        &_text {
            font-size: 20px;
            @include bold-text;
            color: $color-black;
        }
    }
}