// Styles pour le conteneur principal
.main {
    display: flex;
    flex: 1;
    padding-bottom: 120px;
}

// Styles pour le fond sombre
.bg-dark {
    background-color: #12002b;
}

// Styles pour le contenu de connexion
.sign-in-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Styles pour l'icône de connexion
.sign-in-icon {
    width: 30px;
}