@import '../utils/_variables.scss';
@import '../utils/_mixins.scss';
@import '../utils/_extends.scss';

.main-nav {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;

    // Styles pour tous les liens
    a {
        @include bold-text;
        color: $color-navy;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &router-link-exact-active {
            color: $color-green;
        }
    }

    // Styles pour le logo
    &-logo {
        @include flex-row;
        align-items: center;

        &-image {
            max-width: 100%;
        }
    }

    // Styles pour les items
    &-item {
        @include flex-row;
        align-items: center;
        gap: 5px;
        background-color: transparent;
        color: $color-navy;
        @include bold-text;
        border: none;
        text-decoration: none;
        margin-right: 0.5rem;
        padding: 0; 
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }

        &-user_circle {
            margin-right: 5px;
        }
    }

    // Styles pour les liens principaux
    &-links {
        @include flex-row;
        gap: 18px;
        align-items: center;
    }
}